@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #f2f2f2;
  font-size: 18px;
  font-family: 'Montserrat';
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: relative;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252525;
  z-index: 3;
}

.header__inner {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 100%;
  z-index: 3;
}

.header__logo img {
  max-height: 100%;
}

.header__burger {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  position: relative;
  z-index: 3;
}

.nav__list li {
  margin-right: 23px;
}

.nav__list li:last-child {
  margin: 0;
}

.nav__list li a {
  position: relative;
  color: #fff;
}

.nav__list li a:after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__list li a:hover:after {
  width: 100%;
}

.nav__lang {
  position: relative;
  z-index: 3;
}

.nav__lang a {
  color: #fff;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__inner {
    height: 60px;
  }
  .header__logo img {
    max-width: 100px;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #464646;
    z-index: 2;
    padding: 90px 0 0 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav.active {
    top: 0;
  }
  .header__inner {
    min-height: 50px;
  }
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list li {
    margin: 0 0 23px 0;
  }
  .nav__list li:last-child {
    margin: 0 0 44px 0;
  }
  .nav__list li a {
    font-size: 28px;
  }
  .nav__lang {
    font-size: 28px;
  }
}

.intro {
  background: url("../img/main1.jpg") center 0/100% auto no-repeat;
  opacity: .8;
  min-height: 560px;
}

.intro__inner {
  max-width: 620px;
  padding-top: 40px;
}

.intro__title {
  font-size: 54px;
  line-height: 80px;
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-bottom: 23px;
}

.intro__subtitle {
  font-size: 25px;
  color: #C0C0C0;
  line-height: 120%;
}

.intro__button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 48px;
    line-height: 150%;
  }
}

.btn {
  background: none;
  padding: 12px 18px;
  color: #f2f2f2;
  font-size: 24px;
  border: #252525 3px solid;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background: #252525;
}

.about {
  background: #585858;
  padding: 50px 0 50px 0;
}

.about__title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px -15px 0 -15px;
}

.about__photo {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__photo img {
  height: 100%;
  width: 100%;
  border-top: 30px solid #252525;
  border-right: 50px solid #252525;
  border-bottom: 30px solid #252525;
  border-left: 20px solid #252525;
}

.text {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.text__title {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.text__result {
  margin-bottom: 20px;
}

.text__me p {
  margin-bottom: 10px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #585858;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: none;
  position: relative;
  z-index: 99999;
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}
