@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  color: #f2f2f2;
  font-size: 21px;
  font-family: 'Cormorant Garamond';
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.header {
  position: relative;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #252525;
  z-index: 3;
}

.header__inner {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  height: 100%;
  z-index: 3;
  padding: 12px 0;
}

.header__logo img {
  max-height: 100%;
}

.header__burger {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  position: relative;
  z-index: 3;
}

.nav__list li {
  margin-right: 23px;
}

.nav__list li:last-child {
  margin: 0;
}

.nav__list li a {
  position: relative;
  color: #f2f2f2;
}

.nav__list li a:after {
  content: '';
  position: absolute;
  background-color: #f2f2f2;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__list li a:hover:after {
  height: 3px;
  background-color: #6f786a;
}

.nav__lang {
  position: relative;
  z-index: 3;
}

.nav__lang a {
  color: #f2f2f2;
  position: relative;
}

.nav__lang a:after {
  content: '';
  position: absolute;
  background-color: #f2f2f2;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__lang a:hover:after {
  height: 3px;
  background-color: #6f786a;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__inner {
    height: 60px;
  }
  .header__logo img {
    max-width: 100px;
  }
  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #464646;
    z-index: 2;
    padding: 90px 0 0 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav.active {
    top: 0;
  }
  .header__inner {
    min-height: 50px;
  }
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list li {
    margin: 0 0 23px 0;
  }
  .nav__list li:last-child {
    margin: 0 0 44px 0;
  }
  .nav__list li a {
    font-size: 28px;
  }
  .nav__lang {
    font-size: 28px;
  }
}

.intro {
  background: url("../img/main1.jpg") center 0/100% auto no-repeat;
  opacity: .8;
  min-height: 560px;
}

.intro__inner {
  max-width: 620px;
  padding-top: 40px;
}

.intro__title {
  font-size: 54px;
  line-height: 80px;
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-bottom: 23px;
}

.intro__subtitle {
  font-size: 25px;
  color: #c5c5c5;
  line-height: 120%;
}

.intro__button {
  margin-top: 30px;
  background: #fdfff511;
  padding: 12px 18px;
  color: #f2f2f2;
  font-size: 24px;
  border: #252525 3px solid;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.intro__button:hover {
  background: #fdfff530;
}

@media (max-width: 1440px) {
  .intro {
    background-size: auto;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 48px;
    line-height: 150%;
  }
}

@media (max-width: 514px) {
  .intro__inner {
    margin: 0 auto;
    text-align: center;
  }
  .intro__title {
    font-size: 34px;
    line-height: 150%;
  }
  .intro__subtitle {
    font-size: 21px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #585858;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: none;
  position: relative;
  z-index: 99999;
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.btn {
  background: #ec6e1c;
  padding: 12px 18px;
  color: #f2f2f2;
  font-size: 24px;
  border-radius: 9px;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(37, 37, 37, 0.6);
          box-shadow: 0px 0px 13px 1px rgba(37, 37, 37, 0.6);
}

.btn1 {
  background: #ec6e1c;
}

.btn1:hover {
  background: #252525;
}

.btn2 {
  background: #d37834;
}

.btn2:hover {
  opacity: .7;
}

.btn3 {
  background: #252525;
}

.btn3:hover {
  opacity: .7;
}

.about {
  background: #fdfff5;
  padding: 50px 0 50px 0;
}

.about__title {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 500;
  color: #21243d;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.about__photo {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 100%;
  height: 100%;
}

.about__photo img {
  height: 100%;
  width: 100%;
  border-top: 30px solid #f7f9f1;
  border-right: 50px solid #f7f9f1;
  border-bottom: 30px solid #f7f9f1;
  border-left: 20px solid #f7f9f1;
}

.text {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #6f786a;
  padding-top: 30px;
}

.text__title {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 30px 0;
  color: #21243d;
  position: relative;
}

.text__title:after {
  content: "";
  width: 30%;
  height: 2px;
  background: #21243d;
  position: absolute;
  left: 0;
  bottom: -12px;
}

.text__clients {
  line-height: 120%;
  margin-bottom: 30px;
  position: relative;
}

.text__clients p:first-child {
  margin-bottom: 20px;
}

.text__clients:after {
  content: "";
  width: 70%;
  height: 2px;
  background: #21243d;
  position: absolute;
  left: 0;
  bottom: -12px;
}

.text__recive {
  line-height: 120%;
  font-size: 28px;
  margin-bottom: 20px;
  color: #21243d;
}

.text__list {
  margin-bottom: 20px;
}

.text__list li {
  padding: 7px 0 7px 40px;
  line-height: 110%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.text__free {
  background: url("../img/about/free.svg");
}

.text__24-7 {
  background: url("../img/about/24-7.svg");
}

.text__fast-response {
  background: url("../img/about/fast-response.svg");
}

.text__individual {
  background: url("../img/about/individual.svg");
}

.text__result {
  font-size: 24px;
}

@media (max-width: 767px) {
  .about {
    padding-top: 30px;
  }
  .about__title {
    text-align: center;
  }
  .about__photo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 35px;
  }
  .about__photo img {
    border: none;
  }
  .about__text {
    margin-top: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .text {
    padding-top: 0;
  }
}

.test {
  min-height: 1000px;
}

.service {
  padding: 50px 0;
  background: #252525;
  min-height: 500px;
}

.service__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 600;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33333%;
          flex: 0 1 33.33333%;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../img/service/item-bg.jpg") 0 0/100% 100% no-repeat;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
}

.item__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__img {
  height: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.item__title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
  color: #21243d;
}

.item__list li {
  font-size: 21px;
  margin-bottom: 7px;
  position: relative;
  color: #252525;
  margin-left: 15px;
}

.item__list li:before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: -15px;
  top: 7px;
  border-radius: 50%;
  background: #252525;
  opacity: .9;
}

.item__button {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .service__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 30px;
  }
  .service__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 20px;
  }
}

.articles {
  color: #21243d;
  padding: 50px 0 150px 0;
  background: #fdfff5;
}

.articles__title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.articles__item {
  padding-bottom: 20px;
  position: relative;
}

.articles__item:after {
  content: '';
  position: absolute;
  background: #6f786a;
  height: 1px;
  width: 100%;
  bottom: 15px;
  left: 0;
  opacity: .6;
}

.articles__name {
  font-size: 26px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.articles__name:before {
  content: '';
  position: absolute;
  background: #000;
  height: 16px;
  width: 2px;
  right: 7px;
  top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.articles__name:after {
  content: '';
  position: absolute;
  background: #000;
  height: 2px;
  width: 18px;
  right: -1px;
  top: 10px;
}

.articles__name.active:before {
  opacity: 0;
}

.articles__text {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 15px;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
