@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
   color: #f2f2f2;
   font-size: 18px;
   font-family: 'Montserrat';
   // font-family: 'PT Serif';
}
.wrapper {
}
.container {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 15px;
}
.header {
   // height: 90px;
   position: relative;
   &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #252525;
      z-index: 3;
   }
		// .header__inner
		&__inner {
         height: 90px;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      // .header__logo
      &__logo {
         height: 100%;
         z-index: 3;
         & img {
            // position: relative;
            max-height: 100%;
         }
         
      }
		// .header__burger
		&__burger {
         display: none;
      }
		// .header__nav
		&__nav {}
}

.nav {
   
   display: flex;
		// .nav__list
		&__list {
         display: flex;
         margin-right: 40px;
         position: relative;
         z-index: 3;
         & li {
            margin-right: 23px;
            &:last-child {
               margin: 0;
            }
            & a {
               position: relative;
               color: #fff;
                  &:after {
                     content: '';
                     position: absolute;
                     background-color: #fff;
                     height: 2px;
                     width: 0;
                     left: 0;
                     bottom: -5px;
                     transition: .3s;
                  }
                  &:hover:after {
                     width: 100%;
                  }
            }
         }
      }
      
		// .nav__lang
		&__lang {
         position: relative;
         z-index: 3;
         & a {
            color: #fff;
         }
      }
		// .nav__ukr
		&__ukr {}
		// .nav__line
		&__line {}
		// .nav__eng
		&__eng {}
}


@media (max-width: 767px) {
   body.lock {
      overflow: hidden;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 4;
      & span {
         position: absolute;
         background-color: #fff;
         width: 100%;
         height: 2px;
         left: 0;
         top: 9px;
         transition: all .3s ease 0s;
      }
         &:before, &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all .3s ease 0s;
         }
         &:before {
            top: 0;
         }
         &:after {
            bottom: 0;
         }
         &.active span {
            transform: scale(0);
         }
         &.active:before {
            transform: rotate(45deg);
            top: 9px;
         }
         &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
         }
   }
   .header {
      &__inner {
         height: 60px;
      }
      &__logo {
         & img {
            max-width: 100px;
         }
      }
      &__nav {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         background: #464646;
         z-index: 2;
         padding: 90px 0 0 0;
         transition: all .3s ease 0s;

         flex-direction: column;
            
      }
      &__nav.active {
         top: 0;
      }
      &__inner {
         min-height: 50px;
      }
   }
   
   .nav {
      align-items: center;
      &__list {
         flex-direction: column;
         margin: 0;
         align-items: center;
         & li {
            margin: 0 0 23px 0;
            &:last-child {
               margin: 0 0 44px 0;
            }
            & a {
               font-size: 28px;
            }
         }
      }
      &__lang {
         font-size: 28px;
      }
   }
}







.intro {
   background: url('../img/main1.jpg') center 0 no-repeat;
   opacity: .8;
   min-height: 560px;
   // .intro__inner
   &__inner {
      max-width: 620px;
      padding-top: 40px;
   }
   // .intro__title
   &__title {
      font-size: 54px;
      line-height: 80px;
      letter-spacing: 0.01em;
      font-weight: 500;
      margin-bottom: 23px;
   }
   // .intro__subtitle
   &__subtitle {
      font-size: 25px;
      color: #C0C0C0;
      line-height: 120%;
   }
   // .intro__button
   &__button {
      margin-top: 30px;
   }
}

.btn {
   // background: #252525;
   background: none;
   padding: 12px 18px;
   color: #f2f2f2;
   font-size: 24px;
   border: #252525 3px solid;
   border-radius: 10px;
   transition: .3s;
      &:hover {
         background: #252525;
      }
}



@media (max-width: 767px) {
   .intro {
      &__title {
         font-size: 48px;
         line-height: 150%;
      }
   }
}





.modal {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1050;
   display: none;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-color: rgba(0,0,0,.5);
   &__dialog {
       max-width: 500px;
       margin: 40px auto;
   }
   &__content {
       position: relative;
       width: 100%;
       padding: 40px;
       background-color: rgb(88, 88, 88);
       border: 1px solid rgba(0,0,0,.2);
       border-radius: 4px;
       max-height: 80vh;
       overflow-y: auto;
   }
   &__close {
       position: absolute;
       top: 8px;
       right: 14px;
       font-size: 30px;
       color: #000;
       opacity: .5;
       font-weight: 700;
       border: none;
       background-color: transparent;
       cursor: pointer;
   }
   &__title {
       text-align: center;
       font-size: 22px;
       text-transform: uppercase;
   }
   &__input {
       display: block;
       margin: 20px auto 20px auto;
       width: 280px;
       height: 50px;
       background: #FFFFFF;
       box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
       border: none;
       font-size: 18px;
       text-align: center;
       padding: 0 20px;
       outline: none;
       position: relative;
       z-index: 99999;
   }
   .btn {
       display: block;
       width: 280px;
       margin: 0 auto;
   }
}
