.about {
   // min-height: 1000px;
   background: #fdfff5 ;
   // background: #f7f9f1 ;
   padding: 50px 0 50px 0;
   // .about__title
   &__title {
      // text-align: center;
      // font-family: 'PT Serif';
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 500;
      color: #21243d;
   }
   // .about__content
   &__content {

      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      
   }
   // .about__photo
   &__photo {
      padding: 0 15px;
      flex: 0 1 50%;
      width: 100%;
      height: 100%;
      // max-width: 300px;
         & img {
            height: 100%;
            width: 100%;
            border-top: 30px solid #f7f9f1;;
            border-right: 50px solid #f7f9f1;;
            border-bottom: 30px solid #f7f9f1;;
            border-left: 20px solid #f7f9f1;;
         }
   }
}
.text {
   padding: 0 15px;
   flex: 0 1 50%;
   color: #6f786a;
   padding-top: 30px;
		&__title {
         font-size: 28px;
         font-weight: 500;
         margin: 0 0 30px 0;
         color: #21243d;
         position: relative;
         &:after {
            content: "";
            width: 30%;
            height: 2px;
            background: #21243d;
            position: absolute;
            left: 0;
            bottom: -12px;

         }
      }
		// .text__clients
		&__clients {
         line-height: 120%;
         margin-bottom: 30px;
         & p {
            
            &:first-child {
               margin-bottom: 20px;
               // & span {
               //    position: relative;
               //    &:after {
               //       content: '';
               //       height: 2px;
               //       width: 100%;
               //       background: #000;
               //       position: absolute;
               //       bottom: -3px;
               //       left: 0;
               //    }
               // }
            }
         }
         position: relative;
         &:after {
            content: "";
            width: 70%;
            height: 2px;
            background: #21243d;
            position: absolute;
            left: 0;
            bottom: -12px;

         }
      }
		// .text__recive
		&__recive {
         line-height: 120%;
         font-size: 28px;
         margin-bottom: 20px;
         color: #21243d;
      }
		// .text__list
		&__list {
         // margin-left: 20px;
         margin-bottom: 20px;
         & li {
            // margin-bottom: 8px;
            // padding-bottom: 8px;
            padding: 7px 0 7px 40px;
            line-height: 110%;

            background-position: 0 50%;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            &:last-child {
               // padding-bottom: 0;
            }
         }      
      }
      // .text__free
      &__free {
         background: url('../img/about/free.svg');
      }
      // .text__24-7
      &__24-7 {
         background: url('../img/about/24-7.svg');
      }
      // .text__fast-response
      &__fast-response {
         background: url('../img/about/fast-response.svg');
      }
      // .text__individual
      &__individual {
         background: url('../img/about/individual.svg');
      }
		// .text__result
		&__result {
         font-size: 24px;
      }
}





@media (max-width: 767px) {
   .about {
      padding-top: 30px;
      &__title {
         text-align: center;
      }
      &__photo {
         flex: 0 1 100%;
         padding: 0 35px;
          & img {
            border: none;
          }
      }
      &__text {
         margin-top: 20px;
         flex: 0 1 100%;
         
      }
   }
   .text {
      padding-top: 0;
      &__title {
         
      }
   }
}