.about {
   // min-height: 1000px;
   background: #fdfff5 ;
   // background: #f7f9f1 ;
   padding: 50px 0 50px 0;
   // .about__title
   &__title {
      // text-align: center;
      font-family: 'PT Serif';
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 500;
      color: #21243d;
   }
   // .about__content
   &__content {

      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      
   }

   // .about__photo
   &__photo {
      padding: 0 15px;
      flex: 0 1 50%;
      width: 100%;
      height: 100%;
      // max-width: 300px;

         & img {
            height: 100%;
            width: 100%;
            border-top: 30px solid #f7f9f1;;
            border-right: 50px solid #f7f9f1;;
            border-bottom: 30px solid #f7f9f1;;
            border-left: 20px solid #f7f9f1;;
         }
      
   }
}
.text {
   padding: 0 15px;
   flex: 0 1 50%;
   color: #000;
padding-top: 30px;
   
   // // .text__title
   // &__title {
   //    font-size: 28px;
   //    font-weight: 500;
   //    margin: 0 0 15px 0;
   //    color: #000;
   // }
   // // .text__result
   // &__result {
   //    margin-bottom: 20px;
   //    color: #000;
   // }
   // // .text__me
   // &__me {
   //    & p {
   //       margin-bottom: 10px;
   //       color: #000;
   //    }
   // }
		// .text__title
		&__title {
         font-size: 28px;
         font-weight: 500;
         margin: 0 0 15px 0;
         color: #000;
      }
		// .text__clients
		&__clients {
         line-height: 120%;
         margin-bottom: 30px;
         & p {
            
            &:first-child {
               margin-bottom: 20px;
               // & span {
               //    position: relative;
               //    &:after {
               //       content: '';
               //       height: 2px;
               //       width: 100%;
               //       background: #000;
               //       position: absolute;
               //       bottom: -3px;
               //       left: 0;
               //    }
               // }
            }
         }
         position: relative;
         &:after {
            content: "";
            width: 70%;
            height: 2px;
            background: #21243dпш;
            position: absolute;
            left: 0;
            bottom: -12px;

         }
      }
		// .text__recive
		&__recive {
         line-height: 120%;
         font-size: 28px;
         margin-bottom: 20px;
      }
		// .text__list
		&__list {
         margin-left: 20px;
         margin-bottom: 20px;
         & li {
            margin-bottom: 8px;
            position: relative;
            line-height: 120%;
            &:before {
               content: '';
               position: absolute;
               // width: 6px;
               // height: 6px;
               // border-radius: 50%;
               // background: #020202;
               // top: 7px;
               // left: -14px;

               width: 0;
               height: 0;
               border-top: 4px solid transparent;
               border-left: 8px solid #000;
               border-bottom: 4px solid transparent;
               top: 7px;
               left: -13px;
            }
            &:last-child {
               margin: 0;
            }
         }
      }
		// .text__result
		&__result {
         font-size: 24px;
      }
}





@media (max-width: 767px) {
   .about {
      padding-top: 30px;
      &__title {
         text-align: center;
      }
      &__photo {
         flex: 0 1 100%;
         padding: 0 35px;
          & img {
            border: none;
          }
      }
      &__text {
         margin-top: 20px;
         flex: 0 1 100%;
         
      }
   }
   .text {
      padding-top: 0;
      &__title {
         
      }
   }
}