.header {
   // height: 90px;
   position: relative;
   // position: sticky;
   &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #252525;
      z-index: 3;
   }
		// .header__inner
		&__inner {
         height: 90px;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      // .header__logo
      &__logo {
         height: 100%;
         z-index: 3;
         padding: 12px 0;
         & img {
            // position: relative;
            max-height: 100%;
         }
         
      }
      &__title-2 {
         z-index: 3;
         padding: 0 30px;
         font-size: 32px;
         // max-width: 400px;
         text-align: center;

         display: none;
      }
		// .header__burger
		&__burger {
         display: none;
      }
		// .header__nav
		&__nav {}
}

.nav {
   
   display: flex;
		// .nav__list
		&__list {
         display: flex;
         margin-right: 40px;
         position: relative;
         z-index: 3;
         & li {
            margin-right: 23px;
            &:last-child {
               margin: 0;
            }
            & a {
               position: relative;
               color: #f2f2f2;
                  &:after {
                     content: '';
                     position: absolute;
                     background-color: #f2f2f2;
                     height: 1px;
                     width: 100%;
                     left: 0;
                     bottom: -5px;
                     transition: .3s;
                  }
                  &:hover:after {
                     // width: 100%;
                     height: 3px;
                     background-color: #6f786a;
                  }
            }
         }
      }
      
		// .nav__lang
		&__lang {
         position: relative;
         z-index: 3;
         & a {
            color: #f2f2f2;
            position: relative;
            &:after {
               content: '';
               position: absolute;
               background-color: #f2f2f2;
               height: 1px;
               width: 100%;
               left: 0;
               bottom: -5px;
               transition: .3s;
            }
            &:hover:after {
               // width: 100%;
               height: 3px;
               background-color: #6f786a;
            }
         }
      }
		// .nav__ukr
		&__ukr {}
		// .nav__line
		&__line {}
		// .nav__eng
		&__eng {}
}


@media (max-width: 767px) {
   body.lock {
      overflow: hidden;
   }
   .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 4;
      & span {
         position: absolute;
         background-color: #fff;
         width: 100%;
         height: 2px;
         left: 0;
         top: 9px;
         transition: all .3s ease 0s;
      }
         &:before, &:after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all .3s ease 0s;
         }
         &:before {
            top: 0;
         }
         &:after {
            bottom: 0;
         }
         &.active span {
            transform: scale(0);
         }
         &.active:before {
            transform: rotate(45deg);
            top: 9px;
         }
         &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
         }
   }
   .header {
      &__inner {
         // height: 60px;

      }
      &__title-2 {
         display: block;
      }
      &__logo {
         & img {
            max-width: 100px;
         }
      }
      &__nav {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         background: #464646;
         z-index: 2;
         padding: 130px 0 0 0;
         transition: all .3s ease 0s;

         flex-direction: column;
            
      }
      &__nav.active {
         top: 0;
      }
      &__inner {
         min-height: 50px;
      }
   }
   
   .nav {
      align-items: center;
      &__list {
         flex-direction: column;
         margin: 0;
         align-items: center;
         & li {
            margin: 0 0 23px 0;
            &:last-child {
               margin: 0 0 44px 0;
            }
            & a {
               font-size: 28px;
            }
         }
      }
      &__lang {
         font-size: 28px;
      }
   }
}

@media (max-width: 514px) {
   .header {
      &__title-2 {
         font-size: 26px;
         padding: 0 5px;
      }
   }
}
