.intro {
   background: url('../img/main1.jpg') center 0/100% auto no-repeat;
   opacity: .8;
   min-height: 560px;
  
      
   

   // .intro__inner
   &__inner {
      max-width: 620px;
      padding-top: 40px;
   }
   // .intro__title
   &__title {
      font-size: 54px;
      line-height: 80px;
      letter-spacing: 0.01em;
      font-weight: 500;
      margin-bottom: 23px;
   }
   // .intro__subtitle
   &__subtitle {
      font-size: 25px;
      color: #c5c5c5;
      line-height: 120%;
   }
   // .intro__button
   &__button {
      margin-top: 30px;

      background: #fdfff5;
      // background: none;
      padding: 12px 18px;
      color: #21243d;
      font-size: 24px;
      border: #252525 3px solid;
      border-radius: 10px;
      transition: .3s;
         &:hover {
   opacity: .7;
         }
   }
}
@media (max-width: 1440px) {
   .intro {
      background-size: auto;
   }
}

@media (max-width: 767px) {
   .intro {
      &__inner {
         // margin: 0 auto;
         // text-align: center;
      }
      &__title {
         font-size: 48px;
         line-height: 150%;
      }
   }
}


@media (max-width: 514px) {
   .intro {
      &__inner {
         margin: 0 auto;
         text-align: center;
      }
      &__title {
         font-size: 34px;
         line-height: 150%;
      }
      &__subtitle {
         font-size: 21px;
      }
   }
}