.intro {
   background: url('../img/main1.jpg') center 0/100% auto no-repeat;
   // opacity: .8;
   min-height: 560px;      
   position: relative;
      &:after {
         content: "";
         position: absolute;
         top: 0; bottom: 0; left: 0; right: 0; 
         background: rgba(0, 0, 0, 0.25);
         pointer-events: none;
       }

   // .intro__inner
   &__inner {
      max-width: 620px;
      padding-top: 40px;
      position: relative;
      z-index: 1;
   }
   // .intro__title
   &__title {
      font-size: 54px;
      line-height: 80px;
      letter-spacing: 0.01em;
      font-weight: 500;
      margin-bottom: 23px;
   }
   // .intro__subtitle
   &__subtitle {
      font-size: 25px;
      // color: #c5c5c5;
      line-height: 120%;
      text-shadow: 1px 0px 10px black;
   }
   // .intro__button
   &__button {
      margin-top: 30px;

      background: #252525d6;
      // background: none;
      padding: 12px 18px;
      // color: #21243d;
      color: #f2f2f2;
      font-size: 24px;
      border: #252525 3px solid;
      border-radius: 10px;
      transition: .3s;
         &:hover {
            background: #373737d6;
         }
   }
}
@media (max-width: 1440px) {
   .intro {
      background-size: auto;
   }
}

@media (max-width: 767px) {
   .intro {
      background: url('../img/main2.jpg') center 0/100% auto no-repeat;
      background-size: auto;
      
      
      &__inner {
         // margin: 0 auto;
         // text-align: center;
      }
      &__title {
         font-size: 48px;
         line-height: 150%;
      }
      &__button {
         margin-top: 90px;
      }
   }
}


@media (max-width: 514px) {
   .intro {
      &__inner {
         margin: 0 auto;
         text-align: center;
      }
      &__title {
         font-size: 34px;
         line-height: 150%;
      }
      &__subtitle {
         font-size: 21px;
         text-shadow: 0 0 4px black;
      }
   }
}