.test {
   min-height: 1000px;
   
}


.service {

   padding: 50px 0;
   background: #252525;
   min-height: 500px;
   // .service__title
   &__title {
      text-align: center;
      // font-family: 'PT Serif';
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 600;
   }
   // .service__row
   &__row {
      display: flex;
      // margin: 0 -15px;
      column-gap: 40px
      
   }
   // .service__item
   &__item {
      // padding: 0 15px;
      // margin: 0 15px;
      flex: 0 1 33.33333%;
   }
}
.item {
   display: flex;
   flex-direction: column;
   &__content {
      flex: 1 1 auto;
   }
   &__img {
      height: 80px;
      // width: 80px;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
   }
   background: url('../img/service/item-bg.jpg') 0 0/100% 100% no-repeat;
   padding: 20px;
   border-radius: 20px;
   // .item__title
   &__title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 20px;
      color:#21243d;
      font-weight: 600;
   }
   // .item__list
   &__list {
      & li {
         font-size: 21px;
         margin-bottom: 7px;
         position: relative;
         color:#252525;
         margin-left: 15px;
         // line-height: 100%;
         &:before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            left: -15px;
            top: 10px;
            border-radius: 50%;
            background: #252525;
            opacity: .9;
         }
      }
   }
   &__button {
margin-top: 20px;
      // background: #252525;
      // &:hover {
      //    opacity: .7;
      // }
   }
}


      
@media (max-width: 767px) {
   .service {
      &__row {
         flex-wrap: wrap;
         row-gap: 30px;
      }
      &__item {
         flex: 0 1 100%;
         margin: 0 20px;

      }
      
   }
   .item {
      padding: 15px;
      & img {
         margin-bottom: 10px;
      }
      &__title {
         margin-bottom: 15px;
         
      }
   }
}